<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62833051635-n844hdrkl70fk293tiijmtghaegbuksr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62833051635-n844hdrkl70fk293tiijmtghaegbuksr</string>
	<key>API_KEY</key>
	<string>AIzaSyABNELJAaV8BSuUNLKo5xQUagXfpKFyt9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>62833051635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flowme.just-chat</string>
	<key>PROJECT_ID</key>
	<string>just-chat-bc717</string>
	<key>STORAGE_BUCKET</key>
	<string>just-chat-bc717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62833051635:ios:b72140561f782d9dba7486</string>
</dict>
</plist>